
@import url('https://fonts.googleapis.com/css?family=Amatic+SC');
*{
    font-family: 'Amatic SC', cursive;
}
img {
    width: 200px;
    height: 200px;
    }

input {
align-content: flex-start;
}

#pasus{
display : flex;
flex-wrap: wrap;
justify-content: space-around;
}

#pasus > div {
    margin-right: 10px;
    margin-bottom: 10px;
    max-width: 300px;
    text-align: center;
    position: relative;
    background-color: rgb(10, 218, 183);
    border-radius: 10%;
}

button {
    position: absolute;
    bottom: 0px;
    right: 0px;
}